@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap");

.imgw {
  max-width: 100%;
  display: block;
}
ul {
  list-style: none;
}

/* Utilities */
.cardw::after,
.cardw .imgw {
  border-radius: 50%;
}

.cardw,
.stats {
  display: flex;
}

.cardw {
  padding: 2.5rem 2rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  max-width: 500px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  margin: 1rem;
  position: relative;
  transform-style: preserve-3d;
  overflow: hidden;
}
.cardw::before,
.cardw::after {
  content: "";
  position: absolute;
  z-index: -1;
}
.cardw::before {
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  border-radius: 10px;
  top: -0.7rem;
  left: -0.7rem;
}
.cardw::after {
  height: 15rem;
  width: 15rem;
  background-color: #4172f5aa;
  top: -8rem;
  right: -8rem;
  box-shadow: 2rem 6rem 0 -3rem #fff;
}

.cardw .imgw {
  width: 8rem;
  min-width: 80px;
  box-shadow: 0 0 0 5px #fff;
}

.infos {
  margin-left: 1.5rem;
}

.namew {
  margin-bottom: 1rem;
}
.namew h2 {
  font-size: 1.3rem;
}
.namew h4 {
  font-size: 0.8rem;
  color: #333;
}

.textw {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.stats {
  margin-bottom: 1rem;
}
.stats li {
  min-width: 5rem;
}
.stats li h3 {
  font-size: 0.99rem;
}
.stats li h4 {
  font-size: 0.75rem;
}

.links button {
  font-family: "Poppins", sans-serif;
  min-width: 120px;
  padding: 0.5rem;
  border: 1px solid #222;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s linear;
}
.links .follow,
.links .view:hover {
  background-color: #222;
  color: #fff;
}
.links .view,
.links .follow:hover {
  background-color: transparent;
  color: #222;
}

@media screen and (max-width: 450px) {
  .cardw {
    display: block;
  }
  .infos {
    margin-left: 0;
    margin-top: 1.5rem;
  }
  .links button {
    min-width: 100px;
  }
}

/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
.webcardnew {
  --first-color: #fc6666;
  --first-color-light: #f9baba;
  --first-color-lighten: #f87171;
  --gradient-color: linear-gradient(180deg, #eeabab, #f55757);
  --title-color: #db4646;
  --text-color: #c5b5b5;
  --white-color: #fff;
  /* --body-color: hsl(180, 82%, 28%); */
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.75rem;
}

/*=============== BASE ===============*/
.webcardnew {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.webcardnew {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

.webcardnew ul {
  list-style: none;
}

.webcardnew a {
  text-decoration: none;
}

.webcardnew img {
  width: 100%;
  object-fit: fill;
}

/*=============== CARD ===============*/
.containerw {
  height: auto;
  margin-inline: 1.5rem;
  display: grid;
  place-items: center;
  padding-bottom: 35px;
  padding-top: 35px;
}

.card {
  position: relative;
  width: 290px;
  background: var(--gradient-color);
  border-radius: 1rem 1rem 11rem 11rem;
  padding: 2.5rem 1.5rem 3.5rem;
  text-align: center;
  box-shadow: 0 8px 32px hsla(178, 55%, 20%, 0.15);
}
.card__img {
  width: 110px;
}
.card__border {
  width: 124px;
  height: 124px;
  background-color: var(--first-color-light);
  border-radius: 50%;
  margin: 0 auto 1rem;
  display: grid;
  place-items: center;
}
.card__perfil {
  width: 104px;
  height: 104px;
  background-color: var(--first-color-lighten);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  object-fit: fill;
}
.card__name,
.card__profession {
  color: var(--white-color);
}
.card__name {
  font-size: var(--h2-font-size);
  font-weight: 600;
  margin-bottom: 0.25rem;
}
.card__profession {
  font-size: var(--smaller-font-size);
  font-weight: 500;
}

/*=============== CARD INFO ===============*/
.info {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  background-color: var(--white-color);
  padding: 2.5rem 1.5rem 3.3rem;
  border-radius: 1rem 1rem 11rem 11rem;
  clip-path: circle(16px at 250px 40px);
  transition: clip-path 0.4s ease-in-out;
}
.info__icon {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: var(--first-color);
  display: inline-flex;
  padding: 0.25rem;
  cursor: pointer;
  transition: opacity 0.3s;
}
.info__img {
  width: 45px;
}
.info__border {
  width: 64px;
  height: 64px;
  background-color: var(--first-color-light);
  border-radius: 50%;
  margin: 0 auto 1rem;
  display: grid;
  place-items: center;
  transform: translateX(-3rem);
  transition: transform 0.8s;
}
.info__perfil {
  width: 52px;
  height: 52px;
  background-color: var(--first-color-lighten);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.info__data {
  display: grid;
  row-gap: 0.25rem;
  margin-bottom: 1.5rem;
  transform: translateX(-4rem);
  transition: transform 1s;
}
.info__name {
  font-size: var(--normal-font-size);
  color: var(--title-color);
}
.info__profession,
.info__location {
  font-size: var(--smaller-font-size);
}
.info__social {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  transform: translateX(-5rem);
  transition: transform 1.2s;
}
.info__social-link {
  width: 32px;
  height: 32px;
  background-color: var(--first-color-light);
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: transform 0.3s;
}
.info__social-link:hover {
  transform: translateY(-0.25rem);
}
.info__social-icon {
  display: inline-flex;
  background: var(--gradient-color);
  padding: 0.25rem;
  border-radius: 50%;
  color: var(--white-color);
  font-size: 1rem;
}

/* Card info animation */
.info:hover {
  clip-path: circle(75%);
}
.info:hover .info__icon {
  opacity: 0;
}
.info:hover .info__border,
.info:hover .info__data,
.info:hover .info__social {
  transform: translateX(0);
}
