.Gdivmain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  align-items: center;
  color: black;
}
.gdiv {
  display: flex;
  position: relative;

  flex-wrap: nowrap;
  justify-content: space-between; /* Ensures space between the divs */
  height: auto;
}

.social-media {
  width: 400px; /* Fixed width */
  flex-shrink: 0; /* Prevent shrinking */
  background-color: white;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(169, 26, 26, 0.1);
  overflow-y: auto;
  height: 800px;
}

.imagediv1 {
  gap: 10px;
  width: 100%;
  padding-left: 20px;
  box-sizing: border-box;
  height: 100%;
}

.imagediv1 > div {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.imagediv1 img {
  width: 100%; /* Ensure the image takes full width of its container */
  height: auto; /* Maintain aspect ratio */
  transition: transform 0.3s ease;
}

.imagediv1 img:hover {
  transform: scale(1.05);
}

.imagediv1 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.imagediv1 .overlay button {
  background: transparent;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 16px;
  cursor: pointer;
}

.imagediv1 .group:hover .overlay {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px;
  z-index: 1000;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popup img {
  width: 100%;
  height: auto;
}

.overlay-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.prev-button,
.next-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .gdiv {
    padding: 5px;
  }
  .social-media {
    width: 100%; /* Fixed width */
    flex-shrink: 0; /* Prevent shrinking */
    background-color: white;
    padding: 16px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(169, 26, 26, 0.1);
    overflow-y: auto;
    height: 800px;
  }

  .imagediv1 {
    gap: 10px;
    width: 100%;
    padding-left: 0px;
    box-sizing: border-box;
    height: 100%;
  }
  .popup {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2px;
    z-index: 1000;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.hidden-on-mobile {
  display: block;
}

@media (max-width: 640px) {
  /* Tailwind's default small screen breakpoint */
  .hidden-on-mobile {
    display: none;
  }
}
.image-item {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%; /* Ensure the image item takes full width */
  height: 100%; /* Ensure the image item takes full height */
}

.image-item img {
  object-fit: cover; /* Ensure the image covers the entire container */
  width: 100%; /* Ensure the image takes full width of its container */
  height: 100%; /* Ensure the image takes full height of its container */
  transition: transform 0.3s ease;
}
