.cardins {
  position: relative;
  width: 80px; /* Adjusted width */
  height: 80px; /* Adjusted height */
  background-color: #e9b0b0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}
.cardins1 {
  background-color: #e9b0b0;
}

.maindivins {
  position: relative;
  top: 45%;
  /* background-image: url("../assets/images/maindiv.png"); */

  width: 100%;
}
.cardins::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 105%; /* Ensure the background covers the entire cardins */
  height: 105%; /* Ensure the background covers the entire cardins */
  border-radius: 10px;
  background: linear-gradient(-45deg, #e9b0b0 0%, #e9b0b0 100%);
  z-index: -10;
  pointer-events: none;
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.cardins::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #f7cece 0%, #f7cece 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
  transition: filter 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.heading {
  font-size: 10px;
  text-transform: capitalize;
  font-weight: 800;
}
.heading1 {
  font-size: 9px;
  text-transform: capitalize;
  font-weight: 900;
  color: #d62a39;
}

.cardins p:not(.heading) {
  font-size: 14px;
}

.cardins p:last-child {
  color: #d62a39;
  font-weight: 600;
  text-align: center;
}
.cardins1 p:last-child {
  color: #d62a39;
}

.cardins:hover::after {
  filter: blur(30px);
}

.cardins:hover::before {
  transform: rotate(180deg); /* Keep the scale uniform */
}

.containerip {
  width: 40%; /* Adjusted width to fit four cardinss per row */
  display: flex;
  flex-wrap: wrap; /* Enable wrapping of cardinss to the next line */
  justify-content: center; /* Center content horizontally */
  gap: 21px; /* Gap between cardinss */
  margin: 0 auto; /* Center the container itself */
  margin-top: 50px;
  margin-bottom: 50px;
}
/* Media query for tablet and phone view */
@media (max-width: 768px) {
  .maindivins {
    position: absolute;
    top: 5%;
    width: 95%;
  }
  .containerip {
    width: 50%; /* Adjusted width to fit four cardinss per row */
    gap: 10px;
  }
  .cardins {
    position: relative;
    width: 70px; /* Adjusted width */
    height: 70px; /* Adjusted height */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6px;
    gap: 6px;
    border-radius: 6px;
    cursor: pointer;
  }
  .heading {
    font-size: 9px;
    text-transform: capitalize;
    font-weight: 700;
  }
}
/* Media query for tablet and phone view */
@media (max-width: 550px) {
  .maindivins {
    position: absolute;
    top: 5%;
  }
  .containerip {
    width: 90%; /* Adjusted width to fit four cardinss per row */
  }
  .cardins {
    position: relative;
    width: 50px; /* Adjusted width */
    height: 50px; /* Adjusted height */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3px;
    gap: 3px;
    border-radius: 5px;
    cursor: pointer;
  }
  .heading {
    font-size: 9px;
    text-transform: capitalize;
    font-weight: 700;
  }
}
@media (min-width: 320px) and (max-width: 420px) {
  .maindivins {
    position: absolute;
    top: 4%;
  }
  .containerip {
    width: 80%; /* Adjusted width to fit four cardinss per row */
  }
  .cardins {
    position: relative;
    width: 60px; /* Adjusted width */
    height: 60px; /* Adjusted height */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3px;
    gap: 4px;
    border-radius: 5px;
    cursor: pointer;
  }
  .heading {
    font-size: 9px;
    text-transform: capitalize;
    font-weight: 700;
  }
}
@media (min-width: 420px) and (max-width: 480px) {
  .maindivins {
    position: absolute;
    top: 3%;
  }
  .containerip {
    width: 80%; /* Adjusted width to fit four cardinss per row */
  }
  .cardins {
    position: relative;
    width: 70px; /* Adjusted width */
    height: 70px; /* Adjusted height */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6px;
    gap: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  .heading {
    font-size: 9px;
    text-transform: capitalize;
    font-weight: 700;
  }
}
